<!DOCTYPE html>
<html ng-app="TinCan">
    <head>
        <title>TinCan</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="/js/dashboard.js"></script>
    </head>
    <body ng-controller="TanglesController as tangles" class="container">
        <div class="jumbotron">
          <h1> Get Tangled! </h1>
          <h3>{{ tangles.user }}</h3>
          <p>
            <a href="#" class="btn">entangle</a>
          </p>
          <a href="/logout" class="btn btn-lg btn-danger">Logout</a>
        </div>
    </body>
</html>
